#btn-primary {
    font-size: 20px;
    background-color: brown;
    border: 15px 14px;
    border-radius: 10px;
    padding: 10px 18px;
}

.banner {
    display: flex;
    margin-bottom: 200px;

}

.image-banner {
    width: 50%;
}

.banner-container {
    text-align: right;
    margin: 200px 100px 88px 30px;

}

.banner-title {
    font-size: 75px;
}


.main-title {
    text-align: left;
    font-size: 50px;
    margin-top: 200px;
    margin-left: 55px;
}




.main-paragraph {
    text-align: left;
    margin: 20px 200px 10px 55px;


}

ul {
    list-style: none;
    text-align: left;
}

ul li:before {

    content: '✓';
}


/* my plan section styles */
.myplan-title {
    text-align: center;
    font-size: 44px;
}

#plan-title {
    font-size: 25px;
    font-weight: bold;
}

.plan-items {
    display: flex;
    margin-bottom: 200px;

}

.plan-item {
    padding-left: 122px;
}